{% extends 'layout.html.twig' %}

{% block title %}Be Elect{% endblock %}

{% block page_contents %}
<section class="my-5">
    <div class="row">
        <div class="col-lg-8">
            <h1>Tout le détail des <span class="text-secondary">élections</span> est sur Be-Elect</h1>
            <p>Un clic-clac, aussi appelé divan-lit au Canada1, est une sorte de canapé à structure métallique
                transformable en lit en rabattant le dossier vers l'arrière, ce qui déplace l'assise vers l'avant pour
                former un couchage deux places2. Son nom vient du mécanisme de la charnière reliant les deux parties.
            </p>
        </div>
        <div class="col-lg-4 d-flex align-self-center">
            <img src="{{ asset('img/homepage/election.svg') }}" class="w-100 illustration" alt="{{ " illustration de
                vote" | trans }}" />
        </div>
    </div>
</section>
{% endblock %}