$primary: #004c93;
$secondary: #e86f00;
$grey: #eaeff2;
$white: #ffffff;
$dark: $primary;
$btn-border-radius: 2em;
$btn-border-radius-sm: 1em;
$btn-border-radius-lg: 3em;

$dropdown-dark-bg: $primary;

@import "~bootstrap/scss/bootstrap";

@font-face {
    font-family: "MuseoModerno";
    src: url("../fonts/MuseoModerno-Regular.ttf");
    }
@font-face {
    font-family: "MuseoModerno-Bold";
    src: url("../fonts/MuseoModerno-Bold.ttf");
}

@font-face {
    font-family: "PT-Bold";
    src: url("../fonts/PTS75F.ttf");
}
@font-face {
    font-family: "PT";
    src: url("../fonts/PTS55F.ttf");
}

body {
    background-color: $white;
    font-family: "PT";
}

@media only screen and (min-width: 990px) {
    .nav-link.active:after,
    .nav-link:not(.active):hover:after {
        position: relative;
        top: 19px;
        display: block;
        content: "";
        border-bottom: solid 8px $secondary;
        animation: border_anim 0.1s linear forwards;
    }
}

@keyframes border_anim {
    0% {
        width: 0%;
    }
    100% {
        width: 100%;
    }
}

a {
    text-decoration: none;
}

footer {
    a{
        color:$grey;
    }
    a:hover {
        color:$white;
        text-decoration: underline;
    }
    .logo {
        max-height: 3em;
        max-width:90%;
    }
}

.nav-item {
    margin-right: 1.5em;
}

.logo {
    max-height: 2em;
}

.social-logo {
    height: 2em;
    margin-left: 1em;
}

h1 {
    font-size: calc(1.375rem + 5.5vw);
    font-family: 'MuseoModerno-Bold';
    line-height: 1;
}

.illustration {
    max-height: 40vh;
}