$primary: #004c93;
$secondary: #e86f00;
$grey: #eaeff2;
$white: #ffffff;
$dark: $primary;
$btn-border-radius: 2em;
$btn-border-radius-sm: 1em;
$btn-border-radius-lg: 3em;
$input-border-radius: 1.5em;

$dropdown-dark-bg: $primary;

@import "~bootstrap/scss/bootstrap";

@font-face {
    font-family: "MuseoModerno";
    src: url("../fonts/MuseoModerno-Regular.ttf");
    font-display: swap;
}
@font-face {
    font-family: "MuseoModerno-Bold";
    src: url("../fonts/MuseoModerno-Bold.ttf");
    font-display: swap;
}

@font-face {
    font-family: "PT-Bold";
    src: url("../fonts/PTS75F.ttf");
    font-display: swap;
}
@font-face {
    font-family: "PT";
    src: url("../fonts/PTS55F.ttf");
    font-display: swap;
}

body {
    background-color: $white;
    font-family: "PT";
}

@media only screen and (min-width: 990px) {
    .nav-link:after{
        position: relative;
        top: 19px;
        display: block;
        content: "";
        border-bottom: solid 8px transparent;
    }
    .nav-link.active:after,
    .nav-link:not(.active):hover:after {
        position: relative;
        top: 19px;
        display: block;
        content: "";
        border-bottom: solid 8px $secondary;
        animation: border_anim 0.1s linear forwards;
    }
}

@keyframes border_anim {
    0% {
        width: 0%;
    }
    100% {
        width: 100%;
    }
}

a {
    text-decoration: none;
}

footer {
    a {
        color: $grey;
    }
    a:hover {
        color: $white;
        text-decoration: underline;
    }
    .logo {
        max-height: 3em;
        max-width: 90%;
    }
}

.nav-item {
    margin-right: 1.5em;
}

.logo {
    max-height: 2em;
}

.social-logo {
    height: 2em;
    margin-left: 1em;
}

h1,
h2,
h3,
h4 {
    font-family: "MuseoModerno-Bold";
}

h1 {
    font-size: calc(1.375rem + 5.5vw);
    line-height: 1;
}

.bootstrap-autocomplete.dropdown-menu {
    display: block;
}
.btn-secondary:hover {
    background-color: $primary;
    border-color: $primary;
    color: $white;
}

.illustration {
    max-height: 40vh;
}

@media only screen and (min-width: 990px) {
    .section-2 {
        background-color: $primary;
        background: radial-gradient(circle at -10%, $primary 55%, $grey 50%);
    }
}
.section-2 {
    .form-control {
        background-color: $primary;
        color: $white;
    }
    .form-control::placeholder {
        color: $gray-500;
    }
}
.search-part {
    background-color: $primary;
}
.random-part {
    background-color: $grey;
}

.btn {
    letter-spacing: 0.1rem;
    font-family: "PT-Bold";
}

.overlay-container {
    // display: grid;
}

// #map{
//     // grid-area: 1 / 1;
//     width: 80%;
// }

#donut {
    background-color: $grey;
}
#map,
#donut {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

@media only screen and (min-width: 768px) {
    .parti-card-random {
        margin-left: 10vw;
        .logo-parti {
            position: relative;
            transform: translate(-50%, 0px);
        }
        .card-body {
            position: relative;
            transform: translate(-10%, 0px);
            width: 110%;
        }
    }
}
.parti-card-random {
    text-align: left;
    hr {
        border: 3px solid $secondary;
        width: 30%;
        opacity: 1;
    }
}

.parti-card {
    border: none;
    img {
        max-width: 40%;
    }
    .btn:hover {
        filter: invert(0.2);
    }
}
.border-between {
    .col {
        border: none;
    }

    @include media-breakpoint-up(md) {
        .col:last-child {
            border: none;
        }
        .col {
            border-right: 2px solid $grey;
        }
        .col:nth-child(2) {
            border: none;
        }
    }
    @include media-breakpoint-up(lg) {
        .col:nth-child(2) {
            border-right: 2px solid $grey;
        }
        .col:nth-child(3) {
            border: none;
        }
    }
}
.paragraph {
    padding: 1rem 0;
}
.odd-paragraph{
    background-color: $grey;
    text-align: end;
    .container{
        padding-left: 10rem;
    }
}
.even-paragraph{
    .container{
        padding-right: 10rem;
    }
}