//#####################
//##### VARIABLES #####
//#####################
$primary: #004c93;
$secondary: #9f3787;
$grey: #eaeff2;
$white: #ffffff;
$black: #000000;
$dark: $primary;
$btn-border-radius: 2em;
$btn-border-radius-sm: 1em;
$btn-border-radius-lg: 3em;
$input-border-radius: 1.5em;

$dropdown-dark-bg: $primary;

@import "~bootstrap/scss/bootstrap";
@import "~bootstrap-icons/font/bootstrap-icons.css";
@import "select2/dist/css/select2.min.css";
@import "select2-bootstrap-5-theme/dist/select2-bootstrap-5-theme.min.css";

//#################
//##### FONTS #####
//#################

@font-face {
    font-family: "MuseoModerno";
    src: url("../fonts/MuseoModerno-Regular.ttf");
    font-display: swap;
}
@font-face {
    font-family: "MuseoModerno-Bold";
    src: url("../fonts/MuseoModerno-Bold.ttf");
    font-display: swap;
}

@font-face {
    font-family: "PT-Bold";
    src: url("../fonts/PTS75F.ttf");
    font-display: swap;
}
@font-face {
    font-family: "PT";
    src: url("../fonts/PTS55F.ttf");
    font-display: swap;
}

//##################
//##### GLOBAL #####
//##################

body {
    background-color: $white;
    font-family: "PT";
}

@media only screen and (min-width: 990px) {
    .nav-link:after {
        position: relative;
        top: 19px;
        display: block;
        content: "";
        border-bottom: solid 8px transparent;
    }
    .nav-link.active:after,
    .nav-link:not(.active):hover:after {
        position: relative;
        top: 19px;
        display: block;
        content: "";
        border-bottom: solid 8px $secondary;
        animation: border_anim 0.1s linear forwards;
    }
}
.bg-grey {
    background-color: $grey;
}
@keyframes border_anim {
    0% {
        width: 0%;
    }
    100% {
        width: 100%;
    }
}

a {
    text-decoration: none;
}

footer {
    a {
        color: $grey;
    }
    a:hover {
        color: $white;
        text-decoration: underline;
    }
    .logo {
        max-height: 3em;
        max-width: 90%;
    }
}

.nav-item {
    margin-right: 1.5em;
}

.logo {
    max-height: 2em;
}

.social-logo {
    height: 2em;
    margin-left: 1em;
    color: $white;
}
.bg-primary {
    color: $white;
}
h1,
h2,
h3,
h4 {
    font-family: "MuseoModerno-Bold";
}
h2{
    font-size: 1.7em;
    margin: 1.5rem 0rem;
}
h3{
    font-size: 1.1em;
}
h1 {
    font-size: calc(1.375rem + 2vw);
    line-height: 1;
    margin-bottom:.5em;
}

.bootstrap-autocomplete.dropdown-menu {
    display: block;
}
.btn-secondary:hover {
    background-color: $primary;
    border-color: $primary;
    color: $white;
}

@media only screen and (min-width: 990px) {
    .section-2 {
        background: linear-gradient(90deg, $primary 40%, $grey 40%);
    }
}
.section-2 {
    .form-control {
        background-color: $primary;
        color: $white;
    }
    .form-control::placeholder {
        color: $gray-500;
    }
}
.isDark {
    color: $white;
}
.illustration{
    padding:3rem;
}
//####################
//##### HOMEPAGE #####
//####################
.search-part {
    background-color: $primary;
    @include media-breakpoint-up(lg) {
        padding-right: 5em;
        border-radius: 300rem;
    }
    img {
        max-width: 5rem;
        margin-bottom: 1rem;
    }
}
.random-part {
    background-color: $grey;
}
.logo-random-card {
    width: 7rem;
}

.btn {
    letter-spacing: 0.1rem;
    font-family: "PT-Bold";
}

.outer {
    overflow: hidden;
}
.inner {
    width: 150%;
    display: flex;
    min-height: 20vh;
    position: relative;
    max-height: 80vh;
    h3 {
        text-decoration: underline;
        text-decoration-color: $secondary;
        font-size: 1.5em;
    }
}
#map,
#donut {
    // height: 100%;
    width: 70%;
}
.canvas-container {
    height: 100%;
}
#switcherMap {
    cursor: pointer;
    height: 100%;
    background-color: $primary;
    transform: translate(-1px);
    clip-path: polygon(0 0, 0 0, 100% 50%, 0 100%, 0 100%);
    img {
        width: 70%;
        animation: pulse 1s linear infinite;
        transition: transform 1s;
    }
}
.switcher-bg {
    background-color: $grey;
}
.left {
    .switcher-bg {
        background-color: $primary;
    }
    #switcherMap {
        background-color: $grey;
        clip-path: polygon(100% 0, 0 50%, 100% 100%, 100% 0);
        transform: translate(1px);
        img {
            background: $primary;
            border-radius: 50%;
            transform: rotate(180deg);
        }
    }
}

@-webkit-keyframes pulse {
    0% {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }
    50% {
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
    }
    100% {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }
}

@media only screen and (min-width: 768px) {
    .parti-card-random {
        margin-left: 10vw;
        .logo-parti {
            position: relative;
            transform: translate(-50%, 0px);
        }
        .card-body {
            position: relative;
            transform: translate(-10%, 0px);
            width: 110%;
        }
    }
}
.parti-card-random {
    text-align: left;
    hr {
        border: 3px solid $secondary;
        width: 30%;
        opacity: 1;
    }
}

.parti-card {
    border: 1px solid $grey;
    background-color: transparent;
    img {
        max-width: 40%;
    }
    .btn:hover {
        filter: invert(0.2);
    }
}
.border-between {
    .col {
        border: none;
    }

    @include media-breakpoint-up(md) {
        .col:last-child {
            border: none;
        }
        .col {
            border-right: 2px solid $grey;
        }
        .col:nth-child(2) {
            border: none;
        }
    }
    @include media-breakpoint-up(lg) {
        .col:nth-child(2) {
            border-right: 2px solid $grey;
        }
        .col:nth-child(3) {
            border: none;
        }
    }
}
.paragraph {
    padding: 1rem 0;
}
.odd-paragraph {
    background-color: $grey;
    text-align: end;
    .container {
        padding-left: 10rem;
    }
}
.even-paragraph {
    .container {
        padding-right: 10rem;
    }
}
#canvas {
    height: 700px;
    width: 600px;
}

.select2-container--default .select2-selection--single {
    border-radius: 90px;
}

//##################
//##### PARTIS #####
//##################

#partis {
    .search-part {
        border-radius: 5px;
    }
    .subtitle {
        color: $secondary;
        font-weight: bold;
        font-size: 0.9rem;
    }
    .parti-card {
        border: 2px solid $white;
        border-radius: 0;
    }
    h2,
    h3 {
        text-align: center;
    }
    hr {
        border-width: 5px;
        color: $secondary;
    }
    .non-federal {
        background-image: url("../img/bg/non-federal-bg.png");
    }
    .isDark {
        .parti-item {
            border: 2px solid $white;
            a {
                color: $white;
            }
        }
    }
    .parti-item {
        text-align: center;
        border: 2px solid $black;
        margin: 2em;
        padding: 0.5em;
        a {
            font-family: "MuseoModerno-Bold";
            color: $black;
            font-weight: bold;
        }
    }
    .federal-hidden,
    .disappeared-hidden {
        display: none;
    }
}
