{% extends 'layout.html.twig' %}

{% block title %}Hello ElectionController!{% endblock %}

{% block page_contents %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hello {{ articles[2].title | trans }}! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ '/home/remikel/workspace/be_elect/src/Controller/ElectionController.php'|file_link(0) }}">src/Controller/ElectionController.php</a></code></li>
        <li>Your template at <code><a href="{{ '/home/remikel/workspace/be_elect/templates/election/index.html.twig'|file_link(0) }}">templates/election/index.html.twig</a></code></li>
    </ul>
</div>
{% endblock %}
